@{
    ViewData["Title"] = "Edit Blog";
}
@model EditBlogViewModel
@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/dist/jquery.validate.unobtrusive.js"></script>
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Create Blog</h2>

        <form asp-action="Edit" method="post" asp-controller="Blogs">
            
            
            <input type="hidden" asp-for="Id"/>

            <div class="mb-3">
                <label asp-for="CategoryId" class="form-label"></label>
                <select class="form-select" asp-for="CategoryId" asp-items="Model.CategoryList">
                    <option value="">kategori seçiniz</option>

                </select>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>


            <div class="mb-3">
                <label asp-for="Title" class="form-label"></label>
                <input asp-for="Title" class="form-control" />

                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Content" class="form-label"></label>
                <input asp-for="Content" class="form-control" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="PublishDate" class="form-label"></label>
                <input asp-for="PublishDate" class="form-control" type="date" />
                <span asp-validation-for="PublishDate" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ImageUrl" class="control-label"></label>
                <input asp-for="ImageUrl" class="form-control" />
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Update" class="btn btn-primary" />
            </div>
        </form>


    </div>


</div>

@section Css
{
    <link href="~/css/edit.blog.css" rel="stylesheet" />
}
